@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/* Variables */
[data-theme="dark"] {
  --bg-color: #121212;
  --txt-color: #fff;

  --tf-yellow-txtcolor: #fff;
  --tf-yellow-background: #5c5405;
  --tf-yellow-underline:  #a69a28;

  --tf-orange-txtcolor: #fff;
  --tf-orange-background: #9e5c24;
  --tf-orange-underline:  #bf7639;
}

[data-theme="light"] {
  --bg-color: #fffafa;
  --txt-color: #000;

  --tf-yellow-txtcolor: #000;
  --tf-yellow-background: #f0ec8d;
  --tf-yellow-underline:  #ccc65a;

  --tf-orange-txtcolor: #000;
  --tf-orange-background: #f7c79e;
  --tf-orange-underline:  #dead83;
}

:root {
    --input-padding: 10px;
    --top-offset: 2px;  
    --font-family: 'Roboto Slab', sans-serif;
    --font-size: 18px;
    --md-opacity: 0.4; 
}

/* Editor/Window */
body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: var(--bg-color);
}

* {
    box-sizing: border-box;
}

.editor {
  margin: 0;
  border: none;
  resize:none;
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
}

.editor-container {
  padding: calc(var(--input-padding) - var(--top-offset)) 0px 0px var(--input-padding);
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.editor:focus {
  outline: none;
}

/* Text and Formatting */
.cammy-tf-yellow-f > span {
  background: var(--tf-yellow-background);
  text-decoration: underline;
  text-decoration-color: var(--tf-yellow-underline);
  color: var(--tf-yellow-txtcolor);
  text-decoration-thickness: 3px;
}

.cammy-tf-f > span:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cammy-tf-orange-f > span {
  background: var(--tf-orange-background);
  text-decoration: underline;
  text-decoration-color: var(--tf-orange-underline);
  color: var(--tf-orange-txtcolor);
  text-decoration-thickness: 3px;
}

.cammy-tf-none-f > span {
  background-color: none;
  text-decoration: none;
}